.view-font-pair__container {
  width: 95%;
  margin-bottom: 30px;
}

.view-font-pair__heading {
  padding: 0;
  margin: 1rem;
  color: #000000;
}

@media(min-width: 768px) {
  .view-font-pair__container {
    width: 60%;
  }  
}