.generate-palette__container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.palette__container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 10px;
  overflow: hidden;
}

.palette-color {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.palette-color__text {
  background-color: white;
  border-radius: 10px;
  padding: .2rem .4rem .1rem .4rem;
  opacity: 0.70;
}

@media(min-width: 768px) {
  .palette__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .palette-color {
    height: 125px;
  }
}