.generate-palette__container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.palette__container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 10px;
  overflow: hidden;
}

.palette-color {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'palm_springsgraphic', sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.palette-color__text {
  background-color: white;
  color: var(--palette-text);
  border-radius: 10px;
  padding: 0rem .4rem .1rem .4rem;
  opacity: 0.7;
  margin: 0;
}

@media(min-width: 768px) {
  .palette__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .palette-color {
    height: 125px;
  }
}