.navbar__container {
  width: 100%;
}

.navbar__list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}

.navbar__link {
  color: var(--navlink);
  text-decoration: none;
  font-weight: 700;
  padding: .2rem;
  cursor: pointer;
}

.nav-link--item {
  display: flex;
  flex-flow: row wrap;
}

.navbar__link:hover,
.navbar__link:active {
  color: var(--navlink-hover)
}

.embedded-links {
  position: relative;
  padding: 1rem;
  z-index: 10;
}

.embedded {
  text-align: center;
  text-decoration: none;
  color: var(--plain);
  font-weight: 600;
}

.embedded:hover,
.embedded:active {
  color: var(--navlink-hover);
}

.nav--button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav--icon {
  color: #FFFFFF;
}

@media(min-width:768px) {

  .navbar__container {
    width: 65%;
    padding-right: 1rem;
    flex-grow: 3;
  }
  
  .navbar__list {
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .navbar__link {
    margin-left: 1.5rem;
  }  

  .embedded-links {
    position: absolute;
    margin-top: .5rem;
    border-radius: 10px;
    background-color: var(--bg);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .embedded {
    color: var(--dropdown-link);
  }
  
  .embedded-link {
    margin-bottom: .5rem;
  }

  .embedded-link:hover {
    background-color: var(--dropdown-hover-bg);
    color: var(--base-text);
  } 

}