.navbar__container {
  width: 100%;
}

.navbar__list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}

.navbar__link {
  color: var(--navlink);
  text-decoration: none;
}

.nav-link--item {
  display: flex;
  flex-flow: row wrap;
}

.navbar__link:hover,
.navbar__link:active {
  color: var(--navlink-hover)
}

.embedded-links {
  margin-top: .5rem;
  padding: .5rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.embedded {
  text-align: center;
  text-decoration: none;
  color: var(--success);
}

.embedded:hover,
.embedded:active {
  color: var(--bright);
}

.nav--button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav--icon {
  color: #FFFFFF;
}

@media(min-width:768px) {

  .navbar__container {
    width: 70%;
    padding-right: 1rem;
  }
  
  .navbar__list {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    
  }  
}