.input {
  border: 1px solid #000000;
}

.form__container--save {
  margin-top: 20px;
}

.save-btn {
  padding: .5rem 1rem;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  border-radius: 10px;
  touch-action: manipulation;
  margin: 0 .2rem;
  border: 1px solid #111;
}

.save-btn:hover,
.save-btn:active {
  background-color: #E5E4E7;
  color: #111;
  border: 1px solid #111;
}

.feedback {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback__text {
  text-align: center;
}

.feedback-icon {
  margin: 0 .5rem;
}

.error {
  color: var(--bright);
}

.success {
  color: var(--success);
}