footer {
  width: 100%;
  margin-top: 1.5rem;
  /* background-color: var(--accent); */
  border-top: 1px solid var(--bright);
  color: #000;
  padding: .5rem;
  text-align: center;
  font-size: .8rem;
}