footer {
  width: 100%;
  margin-top: 1.5rem;
  background-color: var(--footer-bg);
  color: var(--plain);
  padding: .5rem;
  text-align: center;
  font-size: .8rem;
  font-weight: 700;
}

footer a {
  color: var(--footer-text);
  text-decoration: none;
  text-transform: uppercase;
  padding-left: .5rem;
}

footer a:hover {
  color: var(--footer-text--hover);
}

