.show-palette__container {
  width: 100%;
  margin-bottom: 30px;
}

.show-palette__container h2 {
  text-align: center;
}

.palette__header {
  margin-bottom: 0;
}

.palette-options--container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.delete {
  background-color: var(--accent);
  color: #000000;
}

.rename {
  background-color: var(--rename);
  color: #FFFFFF;
  border: 1px solid var(--rename);
}

.rename:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.rename, .delete {
  margin-top: 5px;
}