.App {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  color: var(--base-text);
}

.page__container {
  width: 97%;
}

.section-column,
.section-row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.styles__container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.palettes__container,
.font-pairs__container {
  width: 100%;
  flex-flow: column nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.palette__container--view {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #000000;
}

.palette-color:last-child(1) {
  font-size: 3rem;
}

.clickable--light,
.clickable--dark {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable--dark {
  background-color: #000000;
  color: #FFFFFF;
}

.form__container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.form__container input {
  padding: .5rem;
  border-radius: 10px;
  margin: 0 .2rem;
}

.form--user-info {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--accent);
  width: 85%;
  padding: 1rem;
  border-radius: 10px;
}

.form--user-info .form-items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.form--user-info .form-item {
  padding: 1rem 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.form--user-info label {
  padding-right: 1rem;
}

.form--user-info input {
  min-width: 300px;
}

.input--user {
  border: 1px solid black;
}

.input--error {
  border: 1px solid var(--bright);
}

.user-input__error {
  color: var(--bright);
  margin-top: .5rem;
  width: 80%;
  text-align: right;
  font-size: .9rem;
}

.screenreader-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.hot-pink {
  background-color: hotpink;
}

@media(min-width:768px) {
  .page__container {
    width: 90%;
  }

  .section-row {
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;  
  }

  .form--user-info {
    width: 50%;
  }

  .palette__container--view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .clickable--light,
  .clickable--dark {
    padding: .5rem 0;
  }
}

@media(min-width:1200px) {
  .page__container {
    width: 80%;
  }

  .form--user-info {
    width: 40%;
  }
}