.App {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  color: var(--base-text);
}

.page__container {
  width: 97%;
}

.section-column,
.section-row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.palettes__container,
.font-pairs__container {
  width: 100%;
}

.clickable--light {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.clickable--dark {
  border: 1px solid #000000;
  background-color: #000000;
  color: #FFFFFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


@media(min-width:768px) {
  .page__container {
    width: 90%;
  }

  .section-row {
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;  
  }

  .clickable--light {
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid #000000;
  }

  .clickable--dark {
    border-top: none;
    border-bottom-left-radius: 0;
  }
}

@media(min-width:1200px) {
  .page__container {
    width: 80%;
  }
}