.App {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  box-sizing: border-box;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: var(--accent-text);
  overflow: hidden;
}

.page__container {
  width: 97%;
}

.section-column,
.section-row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hp--welcome {
  margin-top: .5rem;
  margin-bottom: 0;
}

.hp--subhead {
  margin: .5rem 0;
  color: var(--base-text);
  font-family: 'Montserrat', sans-serif;
}

.hp-info__container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.hp-info__palettes,
.hp-info__font-pairs {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.hp-info__font-pairs {
  width: 100%;
} 

.btn__container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.btn {
  min-width: 130px;
  padding: .5rem 1rem;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  border-radius: 10px;
  touch-action: manipulation;
  margin: 0 .2rem .2rem .2rem;
  border: 1px solid #111;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.btn--external-links,
.btn--internal-links
 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}


.btn:hover,
.btn:active {
  background-color: #fff;
  color: #111;
  border: 1px solid #111;
}

.btn--tertiary {
  background-color: transparent;
  color: var(--success);
  border: 0;
  margin-bottom: 1rem;
}

.btn--tertiary:hover {
  background-color: transparent;
  color: var(--accent-text);
  border: 0;
  text-decoration: underline;
}


input, select {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  background-color: var(--input-bg);
  color: var(--base-text);
}

select {
  cursor: pointer;
}

h1, h2, h3, h4 {
  font-family: 'palm_springsgraphic', serif;
  text-align: center;
  color: (--accent-text);
}

h1 {
  font-size: 2rem;
}

.styles__container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.palettes__container,
.font-pairs__container {
  width: 100%;
  flex-flow: column nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.palette__container--view {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--palette-border);
}

.palette-color:last-child(1) {
  font-size: 3rem;
}

.clickable--light,
.clickable--dark {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.clickable--dark {
  background-color: #000000;
  color: #FFFFFF;
}

.form__container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.form__container input {
  padding: .5rem;
  border-radius: 10px;
  margin: 0 .2rem;
}

.form--user-info {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--accent);
  width: 85%;
  padding: 1rem;
  border-radius: 10px;

}

.form--user-info .form-items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.form--user-info .form-item {
  padding: 1rem 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.form--user-info label {
  padding-right: 1rem;
}

.form--user-info input {
  width: 100%;
}

.input--user {
  border: 1px solid black;
}

.input--error {
  border: 1px solid var(--bright);
}

.user-input__error {
  color: var(--error);
  margin-top: .5rem;
  width: 80%;
  text-align: right;
  font-size: .9rem;
}

.screenreader-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.feedback {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .5rem;
}

.feedback__text {
  padding: 0;
  margin: 0;
  font-size: .8rem;
  text-align: center;
}

.feedback__text--error {
  color: var(--accent-text);
}

.feedback-icon {
  margin: 0 .5rem;
}

.error {
  color: var(--bright);
}

.success {
  color: var(--success);
}

.edit-btn {
  width: 60px;
  /* padding: .5rem 1rem; */
  outline: none;
  color: #000;
  background: #F2F2F1;
  cursor: pointer;
  border-radius: 10px;
  touch-action: manipulation;
  /* margin: 0 .2rem .2rem .2rem; */
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}


@media(min-width: 350px) {
  .form--user-info input {
    min-width: 200px;
  }
}


@media(min-width:768px) {
  .page__container {
    width: 90%;
  }

  .section-row {
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;  
  }

  .hp-info__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .hp-info__font-pairs,
  .hp-info__palettes {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-top: 1rem;
  }

  .hp-info__palettes {
    width: 46%;
    margin-right: 1rem;
  }

  .hp-info__font-pairs {
    width: 45%;
  }

  .how-to {
    overflow: hidden;
  }

  .how-to__img {
    width: 100%;
  }

  .palette_img {
    width: 140%;
  }

  .form--user-info {
    width: 50%;
  }

  .palette__container--view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .clickable--light,
  .clickable--dark {
    padding: .3rem 0;
  }
  
  .form--user-info input {
    min-width: 300px;
    max-width: 300px;
  }
}

@media(min-width:1200px) {
  .page__container {
    width: 80%;
  }

  .form--user-info {
    width: 40%;
  }
}