@font-face {
  font-family: 'palm_springsgraphic';
  src: local('palm_springsgraphic'), url(./assets/palmspringsgraphic-webfont.woff) format('woff');
}

.light {
  --bg: #fff;
  --base-text: #000;
  --accent-text: rgb(74, 73, 73);
  --header-bg: #000;
  --navlink: #E6EBFF;
  --navlink-hover: #f1e766;
  --dropdown-link: #7994ff;
  --dropdown-hover-bg: #F2F2F1;
  --accent: #F2F2F1;
  --rename: rgb(74, 73, 73);
  --bright: #ff304c;
  --success: #7994ff;
  --bright--light: #99ebe4;
  --plain: #FFFFFF;
  --landing: #f1e766;
  --landing-span: #ff304c;
  --footer-bg: #000;
  --footer-text: #99ebe4;
  --footer-text--hover: #7994ff;
  --error: #ff304c;
  --input-bg: #FFF;
  --palette-hover: #FFF;
  --palette-text: #000;
  --palette-head: #000;
  --btn-remove--text: #FFF;
  --btn-delete--text: #000;
  --btn-delete--bg: rgb(74, 73, 73);
  --fp-border: #000;
  --fp-container: #F2F2F1;
  --black: #000;
  --gray: #F2F2F1;
  --toggle-bg: rgb(105, 109, 109);
}

.dark {
  --bg: #212120;
  --base-text: #fff;
  --header-bg: #131212;
  --accent-text: #F2F2F1;
  --header-bg: #000;
  --navlink: #E6EBFF;
  --navlink-hover: #f1e766;
  --dropdown-link: #7994ff;
  --dropdown-hover-bg: rgb(74, 73, 73);
  --accent: rgb(70, 73, 73);
  --rename: rgb(74, 73, 73);
  --bright: #ff304c;
  --success: #7994ff;
  --bright--light: #99ebe4;
  --plain: #FFFFFF;
  --landing: #f1e766;
  --landing-span: #7994ff;
  --footer-bg: #131212;
  --footer-text: #7994ff;
  --footer-text--hover: #99ebe4;
  --error: #ff687c;
  --input-bg: #131212;
  --palette-hover: #F2F2F1;
  --palette-text: #000;
  --palette-head: #FFF;
  --btn-remove--text: #F2F2F1;
  --btn-delete--text: #FFF;
  --btn-delete--bg: transparent;
  --fp-border: rgb(74, 73, 73);
  --fp-container: #F2F2F1;
  --black: #000;
  --gray: #F2F2F1;
  --toggle-bg: rgb(70, 73, 73);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}