.header__container {
  width: 100%;
  background-color: var(--header-bg);
}

.header__head {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
}

.logo__container {
  display: flex;
  padding-left: .5rem;
}

.logo {
  color: var(--logo);
  text-decoration: none;
  cursor: pointer;
}

.logo-img {
  max-width: 300px;
  height: auto;
  margin-top: .3rem;
}

.logo-sml {
  width: 100px;
  height: auto;
}

.toggler__container {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.toggler {
  color: #fff;
}

.bars {
  font-size: 25px;
}

.x {
  font-size: 25px;
}

@media(min-width:768px) {

  .header__container {
    max-height: 70px;
  }

  .header__head {
    align-items: flex-start;
  }
  
  .logo__container {
    padding-left: 1rem;
  }
}