.create__container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.colorpicker__container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* .rcp {
  width: 90% !important;
} */

.palettes__container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.btn__container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.btn {
  min-width: 130px;
  padding: .5rem 1rem;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  border-radius: 10px;
  touch-action: manipulation;
  margin: 0 .2rem .2rem .2rem;
  border: 1px solid #111;
}

.btn:hover,
.btn:active {
  background-color: #fff;
  color: #111;
  border: 1px solid #111;
}

@media(min-width:768px) {
  .create__container {
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;  
  }    

  .colorpicker__container {
    width: 46%;
    background-color: #F2F2F1;
    border-radius: 10px;
    margin: 1rem;
    padding-bottom: 1rem;
  }
  
  .palettes__container {
    width: 50%;
  }
}